.header::before, .section-cta::before, .section-price::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.33);
  z-index: 1; }

/* Reset and base styles  */
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  height: 100%;
  /* sticky footer */
  scroll-behavior: smooth; }

body {
  height: 100%;
  /* sticky footer */
  display: flex;
  /* sticky footer */
  flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #2E2E2E; }

body > * {
  flex-shrink: 0;
  /* sticky footer */ }

input, textarea, button {
  font-family: inherit;
  padding: 0; }

label {
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none; }

/* Grid styles */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

/* Utility */
.none {
  display: none !important; }

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  background-color: #e2e2e2;
  padding: 50px 0; }

.header {
  position: relative;
  z-index: 999;
  background-image: url("./../img/bg/header.jpg");
  background-size: cover;
  background-position: center;
  /* Desctop */
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1600px) {
    .header {
      background-image: url("./../img/bg/header-1600.jpg");
      background-size: cover;
      background-position: center; } }
  @media (max-width: 1199px) {
    .header {
      background-image: url("./../img/bg/header-900.jpg");
      background-size: cover;
      background-position: center; } }
  @media (max-width: 899px) {
    .header {
      background-image: url("./../img/bg/header-600.jpg");
      background-size: cover;
      background-position: center; } }
  @media (max-width: 599px) {
    .header {
      background-image: url("./../img/bg/header-320.jpg");
      background-size: cover;
      background-position: center; } }

.header__wrapper {
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 100px;
  color: #fff;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .header__wrapper {
      padding-bottom: 50px; } }
  @media (max-width: 899px) {
    .header__wrapper {
      padding-top: 20px; } }
  @media (max-width: 599px) {
    .header__wrapper {
      padding-bottom: 40px; } }

.header__buttons {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 140px;
  display: flex;
  justify-content: space-between;
  /* Tablet */
  /* Mobile */ }
  @media (max-width: 1199px) {
    .header__buttons {
      width: 100%;
      margin-bottom: 100px; } }
  @media (max-width: 899px) {
    .header__buttons {
      margin-bottom: 30px; } }

.header__buttons-search {
  margin-left: auto; }

.header__content {
  margin-bottom: 148px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .header__content {
      margin-bottom: 129px; } }
  @media (max-width: 899px) {
    .header__content {
      margin-bottom: 80px; } }
  @media (max-width: 599px) {
    .header__content {
      margin-bottom: 50px; } }

.header__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  /* Tablet */
  /* Mobile */ }
  @media (max-width: 1199px) {
    .header__title {
      margin-bottom: 35px;
      font-size: 84px; } }
  @media (max-width: 899px) {
    .header__title {
      margin-bottom: 30px;
      font-size: 70px; } }

.header__desc {
  margin-bottom: 70px;
  max-width: 730px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 20px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  .header__desc p {
    margin-bottom: 15px; }
  @media (max-width: 1199px) {
    .header__desc {
      margin-bottom: 50px;
      font-size: 18px; } }
  @media (max-width: 899px) {
    .header__desc {
      font-size: 16px;
      max-width: 430px; } }
  @media (max-width: 599px) {
    .header__desc {
      margin-bottom: 30px; } }

.header__form {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 899px) {
    .header__form {
      width: 370px;
      flex-direction: column;
      align-items: stretch; } }
  @media (max-width: 599px) {
    .header__form {
      width: 290px; } }

.header__form > * + * {
  margin-left: 20px;
  /* Mobile */ }
  @media (max-width: 899px) {
    .header__form > * + * {
      margin-top: 20px;
      margin-left: 0; } }

.header__form-input {
  /* Mobile */ }
  @media (max-width: 899px) {
    .header__form-input {
      width: 100%; } }

.footer {
  padding: 70px 0 70px;
  background: #1A1A1A;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .footer {
      padding: 60px 0 60px; } }
  @media (max-width: 899px) {
    .footer {
      padding: 50px 0 50px; } }
  @media (max-width: 599px) {
    .footer {
      padding: 40px 0 40px; } }

.footer__row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .footer__row {
      margin-bottom: 40px; } }
  @media (max-width: 899px) {
    .footer__row {
      margin-bottom: 30px;
      flex-direction: column; } }
  @media (max-width: 599px) {
    .footer__row {
      margin-bottom: 40px; } }

.footer__nav {
  margin-right: 40px;
  /* Mobile */
  /* Mobile XS */ }
  .footer__nav * + * {
    margin-left: 50px; }
  @media (max-width: 899px) {
    .footer__nav {
      margin-right: 0;
      margin-bottom: 30px; } }
  @media (max-width: 599px) {
    .footer__nav {
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .footer__nav * + * {
        margin-left: 0;
        margin-top: 20px; } }

.footer__nav-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF; }
  .footer__nav-item:hover {
    color: #15D784; }

.footer__socials {
  display: flex;
  /* Mobile XS */ }
  .footer__socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: rgba(196, 196, 196, 0.1);
    border-radius: 50%;
    transition: background-color 0.2s ease-in; }
    .footer__socials a:hover {
      background-color: #00C470; }
  .footer__socials * + * {
    margin-left: 30px; }
  @media (max-width: 599px) {
    .footer__socials * + * {
      margin-left: 20px; } }

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.3);
  text-align: center; }
  .footer__copyright span {
    font-weight: 700; }

.section-functional {
  padding: 80px 0 80px;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-functional {
      padding: 50px 0 50px; } }
  @media (max-width: 599px) {
    .section-functional {
      padding: 40px 0 40px; } }

.section-functional__header {
  margin-bottom: 70px;
  text-align: center;
  /* Tablet */
  /* Mobile */ }
  @media (max-width: 1199px) {
    .section-functional__header {
      margin-bottom: 60px; } }
  @media (max-width: 899px) {
    .section-functional__header {
      margin-bottom: 40px; } }

.section-functional__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-functional__title {
      margin-bottom: 30px; } }
  @media (max-width: 899px) {
    .section-functional__title {
      margin-bottom: 20px; } }
  @media (max-width: 599px) {
    .section-functional__title {
      margin-bottom: 10px; } }

.section-functional__row {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 899px) {
    .section-functional__row {
      margin-top: -30px; } }
  @media (max-width: 599px) {
    .section-functional__row {
      margin-top: -40px; } }

.section-functional__row > * {
  margin-left: 15px;
  margin-right: 15px;
  width: 270px;
  flex-shrink: 0;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-functional__row > * {
      width: 195px; } }
  @media (max-width: 899px) {
    .section-functional__row > * {
      width: 270px;
      margin-top: 30px; } }
  @media (max-width: 599px) {
    .section-functional__row > * {
      width: 100%;
      margin-top: 40px;
      flex-shrink: 1; } }

.section-clients {
  padding-top: 80px;
  padding-bottom: 80px;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-clients {
      padding-top: 50px;
      padding-bottom: 50px; } }
  @media (max-width: 599px) {
    .section-clients {
      padding-top: 40px;
      padding-bottom: 40px; } }

.section-clients__header {
  margin-bottom: 60px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-clients__header {
      margin-bottom: 50px; } }
  @media (max-width: 899px) {
    .section-clients__header {
      margin-bottom: 40px; } }
  @media (max-width: 599px) {
    .section-clients__header {
      margin-bottom: 30px; } }

.section-clients__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-clients__title {
      margin-bottom: 30px; } }
  @media (max-width: 899px) {
    .section-clients__title {
      margin-bottom: 20px; } }
  @media (max-width: 599px) {
    .section-clients__title {
      margin-bottom: 10px; } }

.section-clients__slider {
  margin-left: auto;
  margin-right: auto;
  width: 770px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-clients__slider {
      width: 720px; } }
  @media (max-width: 899px) {
    .section-clients__slider {
      width: 370px; } }
  @media (max-width: 599px) {
    .section-clients__slider {
      width: 290px; } }

.section-cta {
  position: relative;
  padding: 83px 0 84px;
  background-image: url("./../img/bg/cta-bg.jpg");
  background-size: cover;
  background-position: center;
  /* Desctop */
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1600px) {
    .section-cta {
      background-image: url("./../img/bg/cta-bg-1600.jpg");
      background-size: cover;
      background-position: center; } }
  @media (max-width: 1199px) {
    .section-cta {
      padding: 40px 0 40px;
      background-image: url("./../img/bg/cta-bg-900.jpg");
      background-size: cover;
      background-position: center; } }
  @media (max-width: 899px) {
    .section-cta {
      background-image: url("./../img/bg/cta-bg-600.jpg");
      background-size: cover;
      background-position: center; } }
  @media (max-width: 599px) {
    .section-cta {
      background-image: url("./../img/bg/cta-bg-320.jpg");
      background-size: cover;
      background-position: center; } }

.section-cta__content {
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 9; }

.section-cta__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  /* Mobile */
  /* Mobile XS */ }
  .section-cta__title span {
    font-weight: 700;
    text-transform: uppercase; }
  @media (max-width: 899px) {
    .section-cta__title {
      margin-bottom: 30px;
      font-size: 20px; } }
  @media (max-width: 599px) {
    .section-cta__title {
      margin-bottom: 20px;
      font-size: 18px; } }

.section-focus {
  padding: 80px 0 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-focus {
      padding: 50px 0 50px;
      overflow-x: hidden; } }
  @media (max-width: 899px) {
    .section-focus {
      padding: 50px 0 0; } }
  @media (max-width: 599px) {
    .section-focus {
      padding: 40px 0 40px; } }

.section-focus__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 899px) {
    .section-focus__row {
      flex-direction: row-reverse; } }
  @media (max-width: 599px) {
    .section-focus__row {
      flex-direction: column; } }

.section-focus__row > * {
  flex-shrink: 0; }

.section-focus__content {
  padding-top: 28px;
  width: 470px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-focus__content {
      width: 420px;
      padding-top: 12px; } }
  @media (max-width: 899px) {
    .section-focus__content {
      padding-top: 0;
      width: 370px; } }
  @media (max-width: 599px) {
    .section-focus__content {
      text-align: center;
      width: 100%; } }

.section-focus__img {
  /* Tablet */
  /* Mobile */ }
  @media (max-width: 1199px) {
    .section-focus__img {
      width: 420px; } }
  @media (max-width: 899px) {
    .section-focus__img {
      width: 170px;
      /* Mobile XS */ }
      .section-focus__img img {
        max-width: unset;
        width: 415px;
        height: auto; } }
  @media (max-width: 899px) and (max-width: 599px) {
    .section-focus__img {
      width: 290px;
      margin-bottom: 10px; }
      .section-focus__img img {
        max-width: 100%; } }

.section-focus__header {
  margin-bottom: 30px;
  /* Tablet */ }
  @media (max-width: 1199px) {
    .section-focus__header {
      margin-bottom: 20px; } }

.section-focus__title {
  margin-bottom: 30px;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-focus__title {
      margin-bottom: 20px; } }
  @media (max-width: 599px) {
    .section-focus__title {
      margin-bottom: 10px; } }

.section-focus__text {
  width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
  /* Tablet */
  /* Mobile */ }
  .section-focus__text p {
    margin-bottom: 15px; }
  @media (max-width: 1199px) {
    .section-focus__text {
      width: unset;
      max-width: 420px; } }
  @media (max-width: 899px) {
    .section-focus__text {
      line-height: 1.7; } }

.section-price {
  position: relative;
  padding: 90px 0 100px;
  background-image: url("./../img/bg/price-bg.jpg");
  background-size: cover;
  background-position: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1600px) {
    .section-price {
      background-image: url("./../img/bg/price-bg-1600.jpg");
      background-size: cover;
      background-position: center; } }
  @media (max-width: 1199px) {
    .section-price {
      padding: 50px 0 50px;
      background-image: url("./../img/bg/price-bg-900.jpg");
      background-size: cover;
      background-position: center; } }
  @media (max-width: 899px) {
    .section-price {
      padding-bottom: 40px;
      background-image: url("./../img/bg/price-bg-600.jpg");
      background-size: cover;
      background-position: center; } }
  @media (max-width: 599px) {
    .section-price {
      padding-top: 40px;
      background-image: url("./../img/bg/price-bg-320.jpg");
      background-size: cover;
      background-position: center; } }

.section-price__content {
  position: relative;
  z-index: 99; }
  .section-price__content .title, .section-price__content .subtitle {
    color: #fff; }

.section-price__header {
  text-align: center;
  margin-bottom: 80px;
  /* Tablet */
  /* Mobile */ }
  @media (max-width: 1199px) {
    .section-price__header {
      margin-bottom: 50px; } }
  @media (max-width: 899px) {
    .section-price__header {
      margin-bottom: 40px; } }

.section-price__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-price__title {
      margin-bottom: 20px; } }
  @media (max-width: 599px) {
    .section-price__title {
      margin-bottom: 10px; } }

.section-price__row {
  display: flex;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
  /* Mobile */
  /* Mobile */ }
  @media (max-width: 899px) {
    .section-price__row {
      flex-direction: column;
      align-items: center; } }
  @media (max-width: 899px) {
    .section-price__row .package + .package {
      margin-top: 30px; } }

.section-price__row > * {
  margin-left: 15px;
  margin-right: 15px;
  width: 300px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-price__row > * {
      width: 270px; } }
  @media (max-width: 899px) {
    .section-price__row > * {
      width: 300px; } }
  @media (max-width: 599px) {
    .section-price__row > * {
      width: 290px; } }

.section-tasks {
  padding: 80px 0 40px;
  border-bottom: 1px solid #E1E1E1;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-tasks {
      padding: 50px 0 50px; } }
  @media (max-width: 599px) {
    .section-tasks {
      padding: 40px 0 40px; } }

.section-tasks__row {
  padding-left: 100px;
  padding-right: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-tasks__row {
      padding-left: 75px;
      padding-right: 0; } }
  @media (max-width: 899px) {
    .section-tasks__row {
      padding-left: 0;
      flex-direction: row-reverse; } }
  @media (max-width: 599px) {
    .section-tasks__row {
      flex-direction: column-reverse; } }

.section-tasks__content {
  width: 570px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-tasks__content {
      width: 495px; } }
  @media (max-width: 899px) {
    .section-tasks__content {
      width: 270px; } }
  @media (max-width: 599px) {
    .section-tasks__content {
      text-align: center;
      width: 290px; } }

.section-tasks__header {
  margin-bottom: 30px;
  /* Tablet */ }
  @media (max-width: 1199px) {
    .section-tasks__header {
      margin-bottom: 20px; } }

.section-tasks__title {
  margin-bottom: 30px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-tasks__title {
      margin-bottom: 20px; } }
  @media (max-width: 899px) {
    .section-tasks__title {
      font-size: 14px; } }
  @media (max-width: 599px) {
    .section-tasks__title {
      margin-bottom: 10px; } }

.section-tasks__text {
  width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
  /* Tablet */
  /* Mobile XS */ }
  .section-tasks__text p {
    margin-bottom: 15px; }
  @media (max-width: 1199px) {
    .section-tasks__text {
      width: unset;
      max-width: 420px; } }
  @media (max-width: 599px) {
    .section-tasks__text {
      width: 100%;
      line-height: 1.7; } }

.section-tasks__img {
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-tasks__img {
      width: 265px; } }
  @media (max-width: 899px) {
    .section-tasks__img {
      width: 270px; } }
  @media (max-width: 599px) {
    .section-tasks__img {
      margin-bottom: 10px;
      width: 290px; } }

.nav {
  position: fixed;
  top: -100%;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .nav.nav--active {
    z-index: 99;
    top: 0;
    opacity: 1;
    transition: top 0s linear, opacity .2s ease-in; }

.nav__top {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784;
  /* Mobile XS */ }
  @media (max-width: 599px) {
    .nav__top {
      font-size: 16px;
      margin-bottom: 30px; } }

.nav__list {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  /* Mobile XS */ }
  @media (max-width: 599px) {
    .nav__list {
      font-size: 18px; } }
  .nav__list li {
    margin-bottom: 40px;
    /* Mobile XS */ }
    @media (max-width: 599px) {
      .nav__list li {
        margin-bottom: 30px; } }
  .nav__list a {
    text-decoration: none;
    color: #fff;
    transition: color .2s ease-in; }
    .nav__list a:hover {
      color: #15D784; }

.nav-icon {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color .2s ease-in; }
  .nav-icon:hover {
    background: #00C470; }
    .nav-icon:hover .nav-icon__midle,
    .nav-icon:hover .nav-icon__midle::before,
    .nav-icon:hover .nav-icon__midle::after {
      background-color: #fff; }
  .nav-icon:focus {
    outline: none; }

.nav-icon__midle {
  position: relative;
  width: 20px;
  height: 3px;
  background: #111;
  border-radius: 2px;
  transition: background-color .2s ease-in; }
  .nav-icon__midle::before, .nav-icon__midle::after {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 3px;
    background: #111;
    transition: transform .2s ease-in, top .2s linear .2s;
    border-radius: 2px;
    transition: background-color .2s ease-in; }
  .nav-icon__midle::before {
    top: -7px; }
  .nav-icon__midle::after {
    top: 7px; }

/* Active state */
.nav-icon.nav-icon--active {
  position: fixed;
  z-index: 999; }

.nav-icon.nav-icon--active .nav-icon__midle {
  background: transparent; }
  .nav-icon.nav-icon--active .nav-icon__midle::before {
    transform: rotate(45deg);
    top: 0;
    transition: top .2s linear, transform .2s ease-in .2s; }
  .nav-icon.nav-icon--active .nav-icon__midle::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top .2s linear, transform .2s ease-in .2s; }

.button-raund {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  transition: background-color 0.2s ease-in; }

.button-raund:hover {
  background-color: #00C470;
  cursor: pointer; }

.input {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 899px) {
    .input {
      padding-left: 46px;
      padding-right: 46px; } }
  @media (max-width: 599px) {
    .input {
      padding-left: 36px;
      padding-right: 36px; } }

.input::placeholder {
  color: #fff; }

.input:focus {
  outline: none;
  background: black; }

.button {
  padding-left: 40px;
  padding-right: 40px;
  height: 60px;
  background: #00C470;
  border-radius: 30px;
  border: none;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color .2s ease-in; }
  .button:focus {
    outline: none;
    background: #029153; }
  .button:hover {
    background: #03a55e; }

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784;
  /* Mobile */ }
  @media (max-width: 899px) {
    .title {
      font-size: 14px; } }

.subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .subtitle {
      font-size: 38px; } }
  @media (max-width: 899px) {
    .subtitle {
      font-size: 30px; } }
  @media (max-width: 599px) {
    .subtitle {
      font-size: 26px; } }

.card__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  /* Tablet */ }
  @media (max-width: 1199px) {
    .card__img {
      margin-bottom: 20px; } }

.card__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  /* Tablet */
  /* Mobile */ }
  @media (max-width: 1199px) {
    .card__title {
      margin-bottom: 10px;
      min-height: 32px; } }
  @media (max-width: 899px) {
    .card__title {
      min-height: unset; } }

.card__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
  /* Tablet */ }
  @media (max-width: 1199px) {
    .card__text {
      line-height: 1.5; } }

.package {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px 0 40px;
  text-align: center;
  color: #FFFFFF; }

.package--special {
  background: rgba(48, 79, 254, 0.95); }
  .package--special .package__title {
    color: #FFFFFF; }
  .package--special .package__period {
    background: rgba(0, 0, 0, 0.1); }

.package__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.package__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #B2B2B2; }

.package__price {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase; }

.package__period {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  height: 24px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase; }

.package__list {
  padding: 40px 15px 0;
  padding-top: 40px;
  margin-bottom: 58px; }

.package__list li {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1; }
  .package__list li:last-child {
    margin-bottom: 0; }

.package__button {
  margin-top: auto; }

.button-outline {
  margin-top: auto;
  display: inline-block;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  background-color: transparent;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color .2s ease-in; }
  .button-outline:hover {
    background: rgba(255, 255, 255, 0.2); }
  .button-outline:focus {
    outline: none;
    background: #000; }

.button-solid {
  display: inline-block;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  background-color: #fff;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #2E2E2E;
  cursor: pointer;
  transition: background-color .2s ease-in; }
  .button-solid:hover {
    background: #000;
    color: #fff; }
  .button-solid:focus {
    outline: none;
    background: #2f2f2f;
    color: #fff; }

.slider {
  position: relative;
  padding-bottom: 54px;
  /* Mobile */ }
  @media (max-width: 899px) {
    .slider {
      padding-bottom: 44px; } }

.section-clients__slider {
  position: relative; }

.slider__arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #F5F5F5;
  border: none;
  transition: background-color .2s ease-in;
  cursor: pointer;
  /* Mobile XS */ }
  .slider__arrow:hover {
    background-color: #00c470; }
  .slider__arrow--left {
    top: 53px;
    left: -46px;
    transform: translateX(-100%); }
    @media (max-width: 949px) {
      .slider__arrow--left {
        left: -30px; } }
  .slider__arrow--right {
    top: 53px;
    right: -46px;
    transform: translateX(100%); }
    @media (max-width: 949px) {
      .slider__arrow--right {
        right: -30px; } }
  @media (max-width: 599px) {
    .slider__arrow {
      display: none; } }
  .slider__arrow svg g {
    stroke: #00C470;
    transition: stroke .2s ease-in; }
  .slider__arrow:hover svg g {
    stroke: #fff; }

.slider__pagination {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%); }

.slider__pagination-item {
  margin-right: 10px;
  border: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #E1E1E1; }
  .slider__pagination-item:last-child {
    margin-right: 0; }

.slider__pagination-item--active {
  background: #00C470; }

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center; }

.slider-item__text {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #000000;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */ }
  .slider-item__text p {
    margin-bottom: 15px; }
  @media (max-width: 1199px) {
    .slider-item__text {
      line-height: 1.5; } }
  @media (max-width: 899px) {
    .slider-item__text {
      font-size: 16px;
      margin-bottom: 20px; } }
  @media (max-width: 599px) {
    .slider-item__text {
      font-size: 14px; } }

.slider-item__author {
  display: flex;
  align-items: center; }

.slider-item__avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  /* Mobile XS */ }
  @media (max-width: 599px) {
    .slider-item__avatar {
      margin-right: 10px;
      width: 60px;
      height: 60px; } }

.slider-item__author-desc {
  font-size: 16px;
  font-weight: 500;
  /* Mobile XS */ }
  @media (max-width: 599px) {
    .slider-item__author-desc {
      font-size: 14px; } }

.slider-item__author-title {
  display: block;
  margin-bottom: 5px;
  color: #00C470; }

.slider-item__author-name {
  display: block;
  color: #808080; }

.search {
  position: relative;
  z-index: 9; }

.search__input {
  width: 0px;
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
  border: none;
  background: #fff;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 60px;
  color: #111;
  transition: width .2s ease-in; }
  .search__input::placeholder {
    color: rgba(46, 46, 46, 0.5); }
  .search__input:focus {
    outline: none; }

.search__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color .2s ease-in; }
  .search__button:hover {
    background-color: #00C470; }
  .search__button svg g {
    stroke: #111;
    transition: stroke .2s ease-in; }
  .search__button:hover svg g {
    stroke: #fff; }
  .search__button:focus {
    outline: none; }

.search.search--visible .search__input {
  padding: 0 70px 0 30px;
  width: 340px;
  /* Mobile XS */ }
  @media (max-width: 599px) {
    .search.search--visible .search__input {
      width: 220px;
      padding-left: 20px;
      font-size: 14px; } }
.search.search--visible .search__button {
  background: #00C470; }
  .search.search--visible .search__button svg g {
    stroke: #fff; }
  .search.search--visible .search__button:hover {
    background: #15d784; }

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: white;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #E1E1E1;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #00C470;
      color: white;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 35px;
  /* Mobile */ }
  @media (max-width: 899px) {
    .owl-theme .owl-nav.disabled + .owl-dots {
      margin-top: 25px; } }
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 14px;
      height: 14px;
      margin: 5px 5px;
      background: #E1E1E1;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 50%; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #00C470; }

/* Tablet */
@media (max-width: 1199px) {
  .container {
    width: 900px; } }
/* Mobile */
@media (max-width: 899px) {
  .container {
    width: 600px; } }
/* Mobile XS */
@media (max-width: 599px) {
  .container {
    width: 320px; } }

/*# sourceMappingURL=main.css.map */
