.footer {
    padding: 70px 0 70px;
    background: #1A1A1A;

    /* Tablet */
    @media (max-width: 1199px) {
        padding: 60px 0 60px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        padding: 50px 0 50px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        padding: 40px 0 40px;
    }
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 40px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        margin-bottom: 30px;
        flex-direction: column;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        margin-bottom: 40px;
    }
}

.footer__nav {
    margin-right: 40px;

    & * + * {
        margin-left: 50px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        margin-right: 0;
        margin-bottom: 30px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        * + * {
            margin-left: 0;
            margin-top: 20px;
        }
    }
}

// .footer__nav > * + * {
//     margin-left: 50px;
// }

.footer__nav-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;

    &:hover {
        color: #15D784;
    }
}

.footer__socials {
    display: flex;

a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: rgba(196, 196, 196, 0.1);
    border-radius: 50%;
    transition: background-color .2s ease-in ;
    
    &:hover {
        background-color: #00C470;
    }
}
    & * + * {
        margin-left: 30px;
    }

 /* Mobile XS */
 @media (max-width: 599px) {
    & * + * {
        margin-left: 20px;
    }
}
}

.footer__copyright {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.3);
    text-align: center;

    span{
        font-weight: 700;
    }

}