.button-solid {
    display: inline-block;
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    background-color: #fff;

    font-weight: 800;
    font-size: 14px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #2E2E2E;
    cursor: pointer;
    transition: background-color .2s ease-in;

    &:hover {
        background: #000;
        color: #fff;
    }

    &:focus {
        outline: none;
        background: #2f2f2f;
        color: #fff;
    }
}