
.card__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 20px;
    }
}

.card__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 10px;
        min-height: 32px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        min-height: unset;
    }
}

.card__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 2.14;
    color: #808080;

    /* Tablet */
    @media (max-width: 1199px) {
        line-height: 1.5;
    }
}