.input {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    height: 60px;
    line-height: 60px;

    background: rgba(0, 0, 0, 0.75);
    border-radius: 30px;
    border: none;

    font-weight: 700;
    font-size: 14px;
    color: #fff;

    /* Mobile */
    @media (max-width: 899px) {
        padding-left: 46px;
        padding-right: 46px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        padding-left: 36px;
        padding-right: 36px;
    }
}

.input::placeholder {
    color: #fff;
}

.input:focus {
    outline: none;
    background: rgb(0, 0, 0);
}