.package {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    padding: 40px 0 40px;
    text-align: center;
    color: #FFFFFF;
}

.package--special {
    background: rgba(48, 79, 254, 0.95);

    & .package__title {
        color: #FFFFFF;
    }

    & .package__period {
        background: rgba(0, 0, 0, 0.1);
    }
}

.package__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.package__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #B2B2B2;
}

.package__price {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 80px;
    line-height: 1;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.package__period {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    height: 24px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;

    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.package__list {
    padding: 40px 15px 0;
    padding-top: 40px;
    margin-bottom: 58px;
}

.package__list li{
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;

    &:last-child{
        margin-bottom: 0;
    }
}

.package__button {
    margin-top: auto;
}
